@import '../available';

.side-bar {
  transition: all ease-in-out 0.35s;
  background-color: $-surface-color;
  border-right: 1px solid $-input-border-color;
  &.isCollapse {
    width: 65px !important;
  }
  .el-menu {
    background-color: transparent;
    .el-menu-item {
      color: #fff;
      font-size: $-input-font-size !important;
      &:hover {
        background-color: $-surface-color-light;
      }
      &.is-active {
				background-color: $-surface-color-light;
        &:after {
          content: '\A';
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #154c79;
          display: inline-block;
					position: absolute;
					right: 10px;
        }
      }
    }
    .el-sub-menu{
      &.is-active{
        border-left: 2px solid #409eff;
      }
      .el-sub-menu__title {
        color: #fff;
        &:hover {
          background-color: $-surface-color-light;
        }
      }
    }
    
    .el-menu-item-group {
      .el-menu-item-group__title {
        display: none;
      }
      ul {
        color: #fff;
        background-color: #337ecc;
        .el-menu-item {
          font-size: $-input-font-size !important;
          color: #fff;
          &:hover {
            background-color: $-surface-color-light;
          }
        }
      }
    }
  }
}
