$-input-font-size: 14px;
$-input-border: 4px;
$-input-border-color: #cdcdcd;
$-text-color: #606266;

$-primary-color: --el-color-primary;
// $-primary-color: #409eff;
$-surface-color: #282e44;
$-surface-color-light: #383F58;
$-disabled-background: #468acf;
$-table-header-color: #f4f6f8;

// $-page-backgground: #f8f8f8;
$-page-backgground: #ffffff;
$-scroll-backgground: #dddddd;
$-text-color-table: #333333;
