@import '../available';

* {
  color: $-text-color;
}

.page-login {
  padding: 0;
  height: 100vh;
  background-color: rgb(233, 233, 233);

  .card-login {
    width: 400px;
    padding: 30px;

    //transform: translatey(calc(calc(100vh - 520px) / 2));
    .logo {
      text-align: center;
      //font-weight: bold;
      width: 100%;
      // margin-bottom: 40px;
      //padding: 10px 0 60px 0;
      font-size: 20px;
      //color: $-primary-color;
      margin-top: 5px;
      //margin-bottom: 15px;
      border-bottom: solid 0.8px #eee;
      padding-bottom: 20px;
    }

    .content-change-pwd {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #777;
    }

    .logo-container {
      text-align: center;
      padding-bottom: 5px;
      margin-bottom: 20px;
      border-bottom: solid 0.8px #eee;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .el-form-item {
      padding-bottom: 37px;
      margin-bottom: 20px;
      border-bottom: solid 0.8px #eee;
    }

    .container-btn-login {
      height: 38px;

      button {
        height: 38px;
        width: 100%;
      }
    }

  }
}