@import '../available';

.page-login {
    padding: 0;
    height: 100vh;
    background-color: $-surface-color;

    .card-login {
        width: 400px;
        padding: 30px;
        .logo-text {
            text-align: center;
            color: $-primary-color;
            margin-top: 5px;
            margin-bottom: 35px;
            padding-bottom: 20px;
        }

        .logo-container {
            text-align: center;
            padding-bottom: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .el-form-item {
            padding-bottom: 35px;
            margin: 0;
        }

        .content-pwd {
            border-bottom: solid 0.8px #eee;
            margin-bottom: 20px;
        }

        .container-btn-login {
            button {
                height: 38px;
                width: 100%;
            }
        }

        .forgot-pass {
            margin-top: 20px;
            font-size: 13px;
            display: flex;
            justify-content: end;

            a {
                color: #03A9F4;
            }
        }
    }
}

.captcha-content {
  display: flex;
  justify-content: space-between;
}

.np-captcha {
  display: flex;
}

.np-captcha-character{
  padding: 0 5px;
}