@import '../../available';
@import './commonsPage';

.client-home-page {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
  overflow: scroll;
  overflow-x: hidden;
  scroll-margin: 0;
}
