@import '../../available';

.container-finance {
  color: var(--text-color-text-income);
  line-height: 1.6;
  width: inherit;
  padding: 0px 15px 0px 15px;
  margin: 10px auto 30px auto;

  .headline {
    display: block;
    margin: 20px 0 25px 0;
    border-bottom: 1px dotted #e4e9f0;

    h2 {
      border-bottom: 2px solid #03a9f4;
      margin: 0 0 -2px 0;
      padding-bottom: 9px;
      display: inline-block;
      font-size: 22px;
      font-weight: 400;
      color: var(--text-color-text-income);
    }
  }
  .margin-bottom-0 {
    p {
      padding: 5px 0px 10px 0px;
      small {
        display: block;
      }
    }
  }
  .changepass-content {
    
    border-top: 1px solid #f5f5f5;
    padding-top: 25px;
    &-row {
      margin-bottom: 18px;
      &-col {
        label {
          font-size: 15px;
          .color-red {
            color: red;
            font-size: 15px;
          }
        }
        .text-input {
          margin-top: 10px;
          width: 200px !important;
        }
      }
    }
    .groupinput{
      width: 600px;
    }
  }
}
